.product-container
{
    height: 100vh;
    
}

.product-div{
    height: 84vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: white;
}

.btn-agregar{
    background: #6923d0;
}

.btn-agregar:hover{
    background: #512a8b;
}